<script>
	// Imports
	import { isOpen } from "../stores.js";

	// Exports
	export let countrycode;
	export let currencycode;
	export let resetReceiver;

	// Props
	let getSelected;
	const uid = countrycode.isoCode + '-ISO-' + currencycode.currency.isoCode;
</script>

<label>
	<input
		type="radio"
		name="currency"
		value={uid}
		bind:group={getSelected}
		on:click={() => resetReceiver(currencycode, countrycode)}
		on:input={() => $isOpen = false}
	/>
	<slot />
</label>

<style>
	input[type="radio"] {
		display: none;
	}
	label {
		display: inline-flex;
		align-items: center;
		align-content: center;
		justify-content: flex-start;
		padding: 0 calc(var(--remmy) * 1.35);
		gap: calc(var(--remmy) / 1.5);
		width: 100%;
		min-height: calc(var(--remmy) * 3);
		font-size: calc(var(--remmy) / 1.2);
		margin: 0;
	}
	label:hover {
		background-color: var(--ghost);
		cursor: pointer;
	}
</style>
