<script>
	// Imports
	import Icon from "@iconify/svelte";
	import InputCountry from "./InputCountry.svelte";
	import language from "../language.js";
	import { slide } from "svelte/transition";
	import { quintOut } from "svelte/easing";
	import { isOpen, sendLang } from "../stores.js";

	// Exportss
	export let filteredArray;
	export let resetReceiver;
	export let optimusTop;

	// Props
	let show = true;
	let searchTerm = "";

	// Search filter by country name and currency name
	$: filterGetList = searchTerm
		? filteredArray.filter(({ name, currencies }) => {
			const normalizedSearchTerm = (term) => term.normalize("NFD").replace(/[\u0300-\u036f]/g, "").replace(/[èé]/g, "e").toLowerCase();
			const currencyCodes = currencies.map(({ currency }) => normalizedSearchTerm(currency?.isoCode));
			return [normalizedSearchTerm(name), ...currencyCodes].some((name) => name.includes(normalizedSearchTerm(searchTerm)));
		})
		: [...filteredArray];

	// Sort based on top corridors
	$: filterGetList?.sort((a, b) => {
		const priorityMap = new Map(optimusTop.map((code, index) => [code, index]));
		const priorityA = priorityMap.get(a.isoCode) ?? Infinity;
		const priorityB = priorityMap.get(b.isoCode) ?? Infinity;
		return priorityA - priorityB || a.isoCode.localeCompare(b.isoCode);
	}) ?? [];


	// Show dropdown
	const showCollapse = (index) => {
		show = show === index ? null : index;
	};
</script>

{#if filteredArray != ""}
	<fieldset class:fly={() => ($isOpen = !$isOpen)} id="dropdown">
		<div>
			<!-- svelte-ignore a11y-autofocus -->
			<input
				bind:value={searchTerm}
				type="search"
				id="search"
				name="search"
				placeholder={$language[$sendLang].searchterm}
				autocomplete="off"
			/>
			<button type="button" on:click={() => ($isOpen = !$isOpen)}>
				<Icon
					icon="iconamoon:close"
					width="22"
					height="22"
					color="#202020"
				/>
			</button>
		</div>
		<menu>
			{#if optimusTop.length < filterGetList.length && searchTerm === ""}
				<li style="border: none;">
					<h3>{$language[$sendLang].popcor}</h3>
				</li>
			{/if}
			{#each filterGetList as countrycode}
				{#if countrycode.currencies.length > 1}
					<li>
						<!-- svelte-ignore a11y-interactive-supports-focus -->
						<!-- svelte-ignore a11y-click-events-have-key-events -->
						<span on:click|stopPropagation={showCollapse(countrycode.isoCode)} role="button">
							<Icon
								icon="circle-flags:{countrycode.isoCode.toLowerCase()}"
								width="26"
								height="26"
								class="flag"
							/>
							{countrycode.name}
							<Icon
								icon="iconamoon:arrow-down-2"
								width="22"
								height="22"
								color="#202020"
							/>
						</span>
						{#if show === countrycode.isoCode}
							<ul transition:slide={{duration: 200, easing: quintOut, axis: "y"}}>
								{#each countrycode.currencies as currencycode}
									<li>
										<InputCountry
											{countrycode}
											{currencycode}
											bind:resetReceiver
										>
											&nbsp;
											<em>{currencycode.currency.name}</em>
											<abbr>{currencycode.currency.isoCode}</abbr>
										</InputCountry>
									</li>
								{/each}
							</ul>
						{/if}
					</li>
				{:else}
					{#each countrycode.currencies as currencycode}
						<li>
							<InputCountry
								{countrycode}
								{currencycode}
								bind:resetReceiver
							>
								<Icon
									icon="circle-flags:{countrycode.isoCode.toLowerCase()}"
									width="26"
									height="26"
									class="flag"
								/>
								{countrycode.name}
								<abbr title={currencycode.currency.name}>{currencycode.currency.isoCode}</abbr>
							</InputCountry>
						</li>
					{/each}
				{/if}
				{#if optimusTop[optimusTop.length - 1] === countrycode.isoCode && searchTerm === ""}
					<li style="border: none;">
						<h3>{$language[$sendLang].allcor}</h3>
					</li>
				{/if}
			{/each}
		</menu>
	</fieldset>
{/if}

<style>
	@media screen and (min-width: 480px) {
		fieldset {
			min-height: 100%;
			max-height: 100%;
			width: 100%;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			border-radius: calc(var(--rad) * 2);
		}
	}
	@media screen and (max-width: 480px) {
		fieldset {
			min-height: 100%;
			max-height: 100%;
			width: 100%;
			min-width: 100%;
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
		}
	}
	fieldset {
		background-color: white;
		border: none;
		overflow-x: auto;
		overscroll-behavior: contain;
		z-index: 9999999999;
		margin: 0;
		padding: 0;
	}
	div {
		width: 100%;
		min-width: 100%;
		max-width: 100%;
		margin: auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
		align-content: center;
		position: sticky;
		top: 0;
		background-color: white;
		border-bottom: 1px solid var(--ghost);
		padding: var(--remmy);
		padding-bottom: calc(var(--remmy) / 1.5);
		gap: calc(var(--remmy) / 2);
	}
	input[type="search"] {
		font-size: calc(var(--remmy) / 1.1);
		width: 100%;
		padding: var(--remmy);
		padding-left: calc(var(--remmy) * 2.25);
		background: var(--ghost)
			url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="26" height="24" viewBox="0 0 24 24"%3E%3Cpath fill="currentColor" d="M9.5 16q-2.725 0-4.612-1.888T3 9.5q0-2.725 1.888-4.612T9.5 3q2.725 0 4.612 1.888T16 9.5q0 1.1-.35 2.075T14.7 13.3l5.6 5.6q.275.275.275.7t-.275.7q-.275.275-.7.275t-.7-.275l-5.6-5.6q-.75.6-1.725.95T9.5 16Zm0-2q1.875 0 3.188-1.313T14 9.5q0-1.875-1.313-3.188T9.5 5Q7.625 5 6.312 6.313T5 9.5q0 1.875 1.313 3.188T9.5 14Z"%2F%3E%3C%2Fsvg%3E')
			no-repeat 0.625rem center;
		transition: all 0.15s linear;
		border-radius: var(--rad);
		border: 0px solid transparent;
		outline: 0px solid transparent;
		outline-offset: 0px;
	}
	input[type="search"]:focus {
		outline: 2px solid var(--dark);
		outline-offset: -2px;
	}
	button {
		display: flex;
		align-items: center;
		align-content: center;
		justify-content: center;
		min-height: calc(var(--remmy) * 2.2);
		max-height: calc(var(--remmy) * 2.2);
		min-width: calc(var(--remmy) * 2.2);
		max-width: calc(var(--remmy) * 2.2);
		border-radius: calc(var(--rad) * 10);
		border: none;
		background: var(--ghost);
		cursor: pointer;
		padding: 0;
	}
	button:hover,
	button:active {
		background: var(--light);
	}
	span {
		display: inline-flex;
		align-items: center;
		align-content: center;
		justify-content: flex-start;
		padding: 0 calc(var(--remmy) * 1.35);
		gap: calc(var(--remmy) / 1.5);
		width: 100%;
		min-height: calc(var(--remmy) * 3);
		font-size: calc(var(--remmy) / 1.2);
	}
	:global(menu > li > span > svg:last-of-type) {
		margin-left: auto;
	}
	:global(button > svg) {
		border-radius: calc(var(--rad) / 4);
		min-height: 22px;
		min-width: 22px;
	}
	span:hover {
		background-color: var(--ghost);
		cursor: pointer;
	}
	menu,
	ul,
	li {
		list-style: none;
		overflow: hidden;
		margin: 0;
		padding: 0;
	}
	menu {
		margin-bottom: var(--remmy);
	}
	ul > li {
		border-top: 1px solid var(--ghost);
	}
	menu > li {
		border-bottom: 1px solid var(--ghost);
	}
	abbr {
		font-size: 0.9rem;
		color: var(--grey);
		margin-left: auto;
	}
	h3 {
		padding: 0 calc(var(--remmy) * 1.35);
		padding-top: calc(var(--remmy) * 1.15);
		padding-bottom: calc(var(--remmy) / 2);
		font-size: calc(var(--remmy) / 1.35);
		color: var(--grey);
		letter-spacing: .02rem;
	}
</style>
