<script>
	// Imports
	import Icon from '@iconify/svelte';
	import language from "../language.js";
	import {
		bestOption,
		sendIso,
		sendLang,
		receiveIso,
		receiveCurnc,
		sendCurnc,
		sendAmount,
        promise,
        hostName
	} from "../stores.js";

	// Props
	export let disclaimer;
</script>

{#await $promise}
	<div>
		<table class="loading"></table>
	</div>
{:then}
	<div>
		{#if disclaimer}
			<section class:fly={() => disclaimer = !disclaimer}>
				<p>{@html $language[$sendLang].disclaimer}</p>
				<!-- svelte-ignore a11y-click-events-have-key-events -->
				<figure on:click|stopPropagation={() => disclaimer = !disclaimer}>
					<Icon icon="iconamoon:close" width="24" />
				</figure>
			</section>
		{/if}
		<table>
			<tr>
				<th>
					<Icon icon="iconamoon:sign-minus-bold" width="24" />
					{#if $bestOption.grossFee === 0}							
						<!-- <em class="special">0 <strong>{$sendCurnc}</strong></em> -->
						<em class="special">0 {$sendCurnc}</em>
					{:else}
						{$bestOption.grossFee} {$sendCurnc}
					{/if}
				</th>
				<td>{@html $language[$sendLang].tablefee}</td>
			</tr>
			<tr>
				<th>
					<Icon icon="iconamoon:sign-equal" width="24" />
					1 <strong>{$sendCurnc}</strong> = 
					{parseFloat($bestOption.exchangeRate).toFixed(4)}
					<strong>{$receiveCurnc}</strong>
				</th>
				<td>{@html $language[$sendLang].tablerate}</td>
			</tr>
			<tr>
				<th>
					<Icon icon="iconamoon:check-bold" width="24" />
					{$language[$sendLang][$bestOption.payout]}
				</th>
				<td>{@html $language[$sendLang].tableservice}</td>
			</tr>
		</table>
	</div>
{:catch}
	<aside class="error">
		<span>
			<Icon
				icon="circle-flags:{$sendIso.toLowerCase()}"
				width="32"
				height="32"
			/>
			{$sendCurnc}
		</span>
		<Icon icon="iconamoon:arrow-right-1" width="24"/>
		<span>
			<Icon
				icon="circle-flags:{$receiveIso.toLowerCase()}"
				width="32"
				height="32"
			/>
			{$receiveCurnc}
		</span>
		<a href={`${$hostName}/${$sendIso.toLowerCase()}/${$sendLang.toLowerCase()}/web/send-money/start?ReceiveCountry=${$receiveIso}&ISOCurrency=${$receiveCurnc}&SendAmount=${$sendAmount}`}>{$language[$sendLang].cta}</a>
	</aside>
{/await}

<style>
	:global(svg:hover:not(table > tr > th > svg:first-of-type)) {
		cursor: pointer;
	}
	div {
		display: flex;
		flex-direction: column;
		align-items: center;
		align-content: center;
		justify-content: baseline;
		background-color: var(--ghost);
		border-radius: var(--rad);
		width: 100%;
		min-height: calc(var(--remmy) * 8);
		max-height: calc(var(--remmy) * 11);
		height: auto;
		margin: calc(var(--remmy) / 2.5) 0;
		position: relative;
		overflow: hidden;
	}
	figure {
		display: flex;
		align-items: flex-start;
		align-content: flex-start;
		justify-content: space-between;
		min-height: calc(var(--remmy) * 2.5);
		max-height: calc(var(--remmy) * 2.5);
		height: auto;
		gap: calc(var(--remmy) / 1.5);
		border-radius: var(--rad);
		padding: 0;
		margin: 0;
	}
	p {
		padding: 0;
		margin: 0;
	}
	:global(table > tr > th > svg:first-of-type) {
		margin-right: calc(var(--remmy) / 4);
		background-color: var(--light);
		padding: calc(var(--rad) / 2);
		border-radius: calc(var(--rad) * 4);
		vertical-align: middle;
	}
	table {
		min-width: 100%;
		min-height: calc(var(--remmy) * 11 - var(--remmy) * 3);
		max-height: calc(var(--remmy) * 11 - var(--remmy) * 3);
		height: 100%;
		border-collapse: separate;
		padding: calc(var(--remmy) / 1.25) calc(var(--remmy) * 1.15);
		background-color: var(--ghost);
	}
	th, td {
		vertical-align: middle;
	}
	th {
		font-size: calc(var(--remmy) / 1.3);
		text-align: left;
	}
	td {
		font-size: calc(var(--remmy) / 1.5);
		text-align: right;
		color: var(--grey);
	}
	section {
		display: flex;
		min-width: 100%;
		min-height: calc(var(--remmy) * 11 - var(--remmy) * 3);
		height: 100%;
		padding: calc(var(--remmy) * 1.25);
		background-color: var(--ghost);
		border-radius: var(--rad);
		position: absolute;
		top: 0;
		text-align: justify;
		gap: calc(var(--remmy) / 2);
		z-index: 10;
	}
	section > p {
		font-size: calc(var(--remmy) / 1.3);
	}
	section > figure {
		max-height: calc(var(--remmy) * 2);
	}
	strong {
		font-size: calc(var(--remmy) / 1.6);
	}
	a {
		display: inline-flex;
		flex-wrap: wrap;
		align-items: center;
		align-content: center;
		justify-content: center;
		width: 100%;
		min-height: calc(var(--remmy) * 3);
		font-size: calc(var(--remmy) / 1.5);
		text-align: center;
		gap: calc(var(--remmy) / 2);
		color: #000;
		background-color: var(--light);
	}
	.special {
		background-color: var(--green);
		color: white;
		padding: calc(var(--remmy) / 4) calc(var(--remmy) / 2);
		border-radius: var(--rad);
		font-size: calc(var(--remmy) / 1.35);
	}
	.error {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		align-content: center;
		justify-content: center;
		width: 100%;
		gap: calc(var(--remmy) * 1.5);
		padding: var(--remmy);
		padding-top: calc(var(--remmy) * 1.5);
	}
	.error > span {
		display: flex;
		align-items: center;
		align-content: center;
		justify-content: flex-start;
		gap: var(--remmy);
	}
	.error > a {
		text-align: center;
		border-radius: 100px;
		padding: 20px 48px;
		background-color: var(--dark);
		color: white;
		width: 100%;
		font-size: 1.1rem;
		transition: all 0.1s ease-out;
	}
	.error > a:hover {
		opacity: 0.9;
	}
	.error > a:active {
		transform: scale3d(0.98, 0.98, 1);
	}
</style>
