<script>
	// Imports
	import PriceCatalog from "./PriceAPI/PriceCatalog.svelte";
	import PriceCorridors from "./PriceAPI/PriceCorridors.svelte";
	import SummaryTable from './PriceAPI/SummaryTable.svelte';
	import language from "./language.js";
	import defaults from "./defaults.js";
	import { onMount } from 'svelte';
	import {
		receiveIso,
		receiveCurnc,
		bestOption,
		hostName,
		sendLang,
		sendIso,
		sendAmount,
		isOpen,
        promise,
		isLoading
	} from "./stores.js";

	// Props
	let fetchProducts;
	let handleInput;
	let countrycode;
	let currencycode;
	let hrefLocation = "";

	// Exports
	export let filteredArray;
	export let disclaimer;
	export let optimusTop;

	// Submit CTA
	$: (() => {
		let matchPayout = $defaults.payout.find(item => item.mnemonic === $bestOption.payout);
		let matchPayin = $defaults.payin.find(item => item.mnemonic === $bestOption.payin);
		if (matchPayout && matchPayin != undefined || "") {
			return hrefLocation = `${$hostName}/${$sendIso.toLowerCase()}/${$sendLang.toLowerCase()}/web/send-money/start?ReceiveCountry=${$receiveIso}&ISOCurrency=${$receiveCurnc}&SendAmount=${$sendAmount}&FundsOut=${matchPayout.fundsout}&FundsIn=${matchPayin.fundsin}`;
		}
	})();

	// Set new receiver props values
	export const resetReceiver = async (currencycode, countrycode) => {
		try {
			receiveCurnc.set(currencycode.currency.isoCode);
			receiveIso.set(countrycode.isoCode);
			$isLoading = true;
			await fetchProducts();
			handleInput($sendAmount, "sending");
			$isLoading = false;
		} catch (error) {
			setTimeout(() => resetReceiver(currencycode, countrycode), 4000);
		}
	};

	// Click vibration
	const vibrateClick = () => {
		if ("vibrate" in navigator || window.navigator.vibrate) {
			window.navigator.vibrate(50)
		}
	}

	// Re-fetch each X time
	onMount(() => {
		// 10 minutes 
		let sessionDuration = 600000;
		const timeoutId = setInterval(() => {
			$promise = fetchProducts().then(() => handleInput($sendAmount, "sending"));
		}, sessionDuration);
		return () => clearInterval(timeoutId);
	});
</script>

<div id="dynamocalc">
	<form on:submit|preventDefault>
		<PriceCatalog bind:fetchProducts bind:handleInput bind:filteredArray bind:optimusTop bind:disclaimer />
		<SummaryTable {disclaimer} />
		{#if $isOpen}
			<PriceCorridors bind:countrycode bind:currencycode {filteredArray} {optimusTop} {resetReceiver}  />
		{/if}
	</form>
	<!-- CTA -->
	{#await $promise}
		<!-- svelte-ignore a11y-invalid-attribute -->
		<a href="#" class="loading" style="color: #a0a0a0;">&nbsp;</a>
	{:then}
		<a href={hrefLocation} on:click={() => vibrateClick()}>{$language[$sendLang].cta}</a>
	{/await}
</div>

<style>
	:global(#dynamocalc, #dynamocalc *) {
		box-sizing: border-box;
		font-family: 'Roboto', sans-serif;
		font-style: normal;
		font-weight: normal;
		text-decoration: none;
		line-height: 1;
	}
	:global(.flag) {
		outline: 1px solid var(--light);
		outline-offset: -1px;
		border-radius: 100px;

	}
	:global(.loading) {
		background: repeating-linear-gradient(to right, var(--ghost) 0%, var(--ghost) 60%, var(--light) 80%, var(--ghost) 100%);
		background-size: 200% auto;
		background-position: 0 0;
		animation: gradient 1s infinite;
		animation-fill-mode: forwards;
		animation-timing-function: ease;
	}
	:global(svg:hover:not(table > tr > th > svg:first-of-type)) {
		cursor: pointer;
	}
	@keyframes gradient {
		from {
			background-position: 0 0;
		}
		to {
			background-position: -200% 0;
		}
	}
	:root {
		--grey: #808080;
		--light: #DEDEDE;
		--ghost: #F2F2F2;
		--yellow: #ffdd00;
		--red: #e94368;
		--dark: #0A0A0A;
		--green: #049D79;
		--remmy: 1.15rem;
		--rad: 0.6rem;
	}
	form {
		display: flex;
		flex-direction: column;
		align-items: center;
		align-content: center;
		justify-content: center;
		width: 100%;
		border: none;
		gap: calc(var(--remmy) / 1.25);
	}
	#dynamocalc {
		display: flex;
		flex-direction: column;
		align-items: center;
		align-content: center;
		justify-content: center;
		min-width: 360px;
		max-width: 400px;
		width: 100%;
		position: relative;
		background-color: white;
		border-radius: calc(var(--rad) * 2);
		padding: calc(var(--remmy) * 1.25) var(--remmy);
		gap: calc(var(--remmy) / 1.25);
		overflow: hidden;
		overscroll-behavior: contain;
	}
	a {
		text-align: center;
		border-radius: 100px;
		padding: 20px 48px;
		background-color: var(--dark);
		color: white;
		width: 100%;
		font-size: 1.1rem;
		transition: all 0.1s ease-out;
	}
	a:hover {
		opacity: 0.9;
	}
	a:active {
		transform: scale3d(0.98, 0.98, 1);
	}
	a:disabled {
		cursor: not-allowed;
		background-color: var(--greygrey);
		color: var(--grey);
	}
	:global(.fly) {
		animation: flyin .3s cubic-bezier(0.165, 0.84, 0.44, 1);
	}
	@keyframes flyin {
		from {
			transform: translate3d(0, 60%, 0);
		}
		to { 
			transform: translate3d(0, 0, 0);
		}
	}
</style>
